.body {
  display: flex;
}

.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 55px;
}

.sky {
  background-color: lightblue;
  width: 500px;
  height: 580px;
  position: absolute;
}

.border-left {
  width: 70px;
  height: 760px;
  background-color: white;
  z-index: +2;
  position: absolute;
}

.border-right {
  width: 300px;
  height: 760px;
  background-color: white;
  z-index: +2;
  position: absolute;
  left: 555px;
}

.border-top {
  width: 700px;
  position: absolute;
  height: 10px;
  top: 0px;
  background-color: white;
  z-index: +2;
}

.ground {
  background-color: brown;
  width: 500px;  
  height: 150px;
  position:absolute;
  top: 580px;
  z-index: +1;
}

.bird {
  background-image: url('sikako.png');
  background-size:110%;
  background-repeat: no-repeat;
  position: absolute;
  height: 90px;
  width: 90px;
  z-index: +2;
  border-bottom: -4;
}

.obstacle {
 background-image: url('flappybird-pipe.png');
 width: 60px;
 height: 360px;
 position:absolute; 
 border: 1px solid red;
 border-top: 2px solid yellow;
}

.topObstacle {
  background-image: url('flappybird-pipe.png');
  transform: rotate(180deg);
  width: 60px;
  height: 360px;
  position:absolute; 
  border: 1px solid red;
  border-top: 2px solid yellow;
  z-index: +1;
 }

 .time {
   position: absolute;
   font-size: 1cm;
   left: 40%;
   top: 100px;
   color: brown;
   z-index:+3;
 }

 
 .cloud {
  background-image: url('cloud.png');
  width: 70px;
  height: 30px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

#start {
  z-index:+4;
}